@import './../_vars.scss';


#preambule{
	//position: fixed;
	top: 0;
	left: 50%;
	translate: -50% 0;
	width: 100%;
	height: 100px;
	//height: calc(var(--vh, 1vh) * 30 - 72px);
	padding: 16px;
	background-color: darkslategray;
	text-align: center;
	z-index: 2;
	text-transform: uppercase;


	p:not(:last-of-type){
		width: fit-content;
		margin-bottom: 8px;
		//text-align: left;
	}
	p:last-of-type{
		font-size: 15px;
	}

	> div{
		width: fit-content;
		margin: 0 auto;
		display: grid;
	}

	@media all and (min-width: 620px){

		top: 20px;
		width: calc(100% - 40px);
		max-width: $wrap-max-width - 40px;
		//height: calc(var(--vh, 1vh) * 30 - 144px);
		box-shadow: 0 0 6px 2px #00000096;
		border-radius: 14px;
	}

}
