<section data-key="timeline">

	<pre>
	02.2010
	-
	now


	Real Estate Media Sàrl, Luxembourg.
	Senior Developer
	www.immotop.lu,


	02.2007
	-
	05.2007
	www.fotki.com
	A short-term contract ; development of the upload application «Fotki Desktop» for the Internet site www.fotki.com
	06.2005
	-
	11.2005
	Invest-info OU, www.spotex.com
	Development of the Advanced Currency Information Database (ACID)
	A multi server application meant for currency exchange offices, with client-server software architecture and two-phase commit transaction synchronization between central and local servers
	2004
	-
	2005
	www.targets.ee (now known as http://www.gissoft.eu/)
	Development of the integral solution for transport companies.
	TRIP is the software for storage, processing and analysis of information of a transport company, a system of control over the operational process.
	03.1999
	-
	02.2005
	AS Eesti Telefon (www.elion.ee )
	Digital Switching System department; development of a client/server application for the company's intranet ; administration of LAN/WAN/PCs.
	11.1997
	-
	03.1999
	Pronksi AS
	Working as database administrator/analyst, providing support for all electronic equipment in the biggest toy shop in the country. Development of a number of work-related applications (Invoice creation/printing/processing with appropriate stock updates, generation of periodic reports, utilities for direct database manipulation, etc.)
	05.1996


	08.1996
	AS STV
	Video engineer/Graphics designer
	11.1991
	-
	03.1996
	AS NB
	Managing the team of 4 employees which ensured the development of all applications, hardware & software, network and communication equipment in the company.
	Assistance in the generation of internal rules and methods for document processing (accounting, store management, etc.)
	Coordination of and participation in the creation of a number of software products.
	11.1989
	-
	04.1991
	Scientific research institute "NEPTUN" (military design bureau)
	Working as a member of the team of inventors who were developing a universal controller for controlling a group of radio transmitters, radio receivers, antenna commutators, etc.




	SHORT-TERM CONTRACTS

	API for APP https://documenter.getpostman.com/view/21572449/UzQvsjmR

	https://secretimmo.lu/en/appraisal

	https://www.automarket.lu/en


	11.2000
	-
	04.2001
	AS Nemirox
	Development of the stock management and sales tracking application
	05.1998
	-
	08.1998
	AS Lerine
	Development of the stock management and sales tracking application
	05.1998
	-
	08.1998
	"PETS"
	Resident utility for controlling terminals in a computer club
	12.1995
	-
	03.1996
	AS Odek
	Development of the stock management and sales tracking application
	02.1992
	-
	02.1992
	Punane RET
	Development of the voltage testing application



	</pre>
</section>


<script type="text/scss">

	section[data-key=timeline]{
// vot
	}

</script>