<section data-key="skills">

	<div>
		<p>My main skill is finding solutions.</p>

		<p>
			With my extensive experience and creative approach, I can propose a functional and elegant solution for almost any task for back end, front end, database or all of the above. Having started my career from PL/M, BASIC and Pascal, switching then to Delphi and after to Web stack, I  have proven to easily learn new languages and technologies.
		</p>
		<p>
			I have strong experience in JavaScript, PHP, SQL, CSS and many more. I am good at data modelling and data analysis.
		</p>
		<p>
			<bbb>FRONT-END DEVELOPMENT: </bbb> JS/CSS/Node/JS building tools, etc - check this page source at
			<a href="https://github.com/shuraash/ash.shiva" target="_blank">
				GitHub <img src="media/GitHub-logo-i.png" alt="GitHub">.
			</a>
		</p>

		<p>
			<bbb>DATA ANALYSIS: </bbb> -  a good example is
			<a href="https://appraisal.secretimmo.lu/" target="_blank">“Secretimmo appraisal tool”</a>.<br/>
			Big data from different sources, with lots of parameters to analyse. Built from scratch.
		</p>

		<p>
			<bbb>BACK-END DEVELOPMENT: </bbb> - 	API for “Secrtimmo App” - download for
			<a href="https://apps.apple.com/app/secretimmo/id1638904947" target="_blank"> IOS </a> or
			<a href="https://apps.apple.com/app/secretimmo/id1638904947" target="_blank"> Android </a>.
			<br/>
		    Implemented on Node.js with the help of postman.com
			<a href="https://documenter.getpostman.com/view/21572449/UzQvsjmR" target="_blank">(API doc)</a>.<br/>
		</p>

		<p>
			For the last 12 years I had been working at  <a href="https://www.immotop.lu" target="_blank">IMMOTOP.LU</a>
			which grew very successful also due to my input.
			Later it got acquired by a large corporation which is now managing the front end and the web interface.
			However, the back end is still 60-80% based on my code, as well as the clients' area for listings management.
		</p>

		<p>
			I have also developed from scratch the 2 essential tools for Immotop's management:
			<bba>FactX</bba> (Facturation eXtended) and <bba>WMQ</bba> (Workers/Messages/Queues).
		</p>

		<p>
			<bba>FactX</bba> is the company's complete workflow system for managing contracts,
			invoices, clients, schedules, products, reports, automated tasks, planning, business results for sales personnel etc.
			It was based on the 'deferred projection' idea.
			Unfortunately I am not in a position to demonstrate all the screenshots on this page (but I can provide a detailed description upon request).
			Here is one of the screenshots just to show what it looked like :
			<br>
				<img class="wmq-sch" src="media/fx1.jpeg">
			<br>
			<bba>FactX</bba> also used a Redis-based back-end worker on the server (PHP), a shared worker for a browser, for centralizing some tasks between open tabs (JS), but mostly this was a DB/SQL related project.
			In conjunction with the main site database, the global records count was (and still is) tens of millions or records.
		</p>

		<p>
			<bba>WMQ</bba> is a solution for exchanging listings data between providers, from hundreds of sources in different formats, without overloading MySQL and with detailed logs. Based on Redis for interprocess communication.

			<img class="wmq-sch" src="media/wmq1.jpeg">
			<br>
			<img class="wmq-sch" src="media/wmq2.jpeg">
			<br>
			<img class="wmq-sch" src="media/wmq3.jpeg">
			<br>
			<img class="wmq-sch" src="media/wmq4.jpeg">
			<br>
		</p>

		<p>
			<bba>WMQ</bba> used an alert system: users could save their searches, and if there was a new listing corresponding to the parameters of the saved search, the user would receive an email and/or push notification.
			There were around 50 000 listings and 200 000 alerts at a given time, and my solution could notify users max 5 minutes after a new corresponding listing was inserted into the database (which happens every few minutes).
		</p>

		<p>
			Both tools were implemented on standard Web stack: MySQL/PHP/JS + Redis, without using any wide-spread and unnecessarily huge frameworks, so the resulting code worked in a very fast and reliable way.
		</p>

		<p>
			The first versions of devices apps for IOS and Android for Immotop.lu were also coded by me using <a href="https://trigger.io" target="_blank">TRIGGER.IO</a> (unfortunately discontinued after I left the company).
		</p>


		<br>
		<br>
		<p>
			For Secretimmo I also made a tool for virtual visits (view and editing) + video group chat + remote control
			(an agent could take control of moving through panorama views).
			There was an option to record a visit with a voice guide + background music which could also be played after.
			It was made using <a href="https://pchen66.github.io/Panolens/" target="_blank">Panolens.js</a> for panoramas
			and Web-RTC + <a href="https://github.com/feross/simple-peer" target="_blank">simple-peer"</a>.
			Tiny Signalling server on WebSockets / Node.js.
			<br>
			Access token is available upon request <a href="https://tour.secretimmo.lu/" target="_blank">tour.secretimmo.lu</a>
			<br>
			<img class="wmq-sch" src="media/vtour01.jpeg">
			<br>
			<img class="wmq-sch" src="media/vtour02.jpeg">
			<br>
			<img class="wmq-sch" src="media/vtour03.jpeg">
		</p>

		<br>
		<br>
		<p>
			Another interesting project I made in the beginning of 2000s was TRIP, a solution for small logistics companies owning several trucks.
			It was developed to calculate truck trip expenses / income / fuel expenditure / drivers' salaries etc.
			It was mostly based on the database, but also allowed data import from special controllers installed on the trucks with GPS/GSM modules
			(satellite controlled trucks). Deplhi + Yaffil (Firebird/Interbase).
		</p>

		<p>
			From 1990 till mid 2000s I have made a number of apps for small companies: invoicing / stock management / payments etc,
			starting with MS DOS / Paradox (which was better than MS Access and others in my opinion), and after switching to Windows / Delphi.
			I have also made some smaller applications: a MIDI clock emulator, a voltmeter device testing/calibrating utility.
			Option Matrix verification (also in the device), an oil products weight calculator for railroad tankers
			- it took measurements from oil liquid level (in meters) in the tanker
			and then using a database of tanker types, density tables and air temperatures calculated the final weight of oil product in the tanker.
			There were so many small projects that I can't remember all of them now.
		</p>

		<p>
			At the very start of my professional career in the ex-USSR I was writing software for automation and control of equipment in a huge military radio center. Following a certain schedule, this software was sending commands (using a kind of serial ports) to a special controller for switching parameters on radio transmitters / receivers. The first test version was made on Basic (with line numbers), then on Turbo Basic and then on Turbo Pascal.
		</p>


		<br>
		<p>
			I have also spent a big amount of time on sound/music software, starting from mod tracker on Commodore Amigo. I have a strong background in audio editing / mixing and some significant skills in graphic / video editing: Photoshop, OBS, After Effects etc.
		</p>

	</div>

	<div class="sect-end"></div>
</section>

<script type="text/scss">

	section[data-key=skills]{

		background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
		//line-height: 21px;
		//font-size: 14px;

		padding-top: 50px;
		//padding-bottom: 500px;

			bbb{
				color: #7ec66b;
				//font-weight: 300;
			}

			bba{
				color: #ff9800;
				//font-weight: 300;
			}


			p{
				padding: 7px 0;
			}

			a{
					position: relative;
					display: inline-grid;
					align-items: center;
					grid-auto-flow: column;
					grid-auto-columns: max-content;
					grid-column-gap: 4px;
					color: #ffffa6;
					text-decoration: none;
						img{
							width: auto;
							height: 19px;
						}
			}

			img.wmq-sch{
				width: calc(100% - 16px);
				height: auto;
				margin: 16px 0 8px;
				border: 2px ridge #9e9e9e;
				border-radius: 8px;
			}


	}

</script>