
<section data-key="skills">

	<div>
		<p>	My main skill is to “find the solution”. </p>

		<p>
			With my experience, i can solve mostly any task for backend, frontend, database, or all together.
			Starting my career from PL/M, BASIC and Pascal, switching then to Delphi, and after to Web stack,
			I can easily learn new languages or technologies.
		</p>
		<p>
			I have strong experience in JavaScript, PHP, SQL, CSS and many more. Good in data modeling and data analysis.
		</p>
		<p>
			Concerning frontend - JS/CSS/Node/JS building tools/etc - check this page source
			<a href="https://github.com/shuraash/ash.shiva" target="_blank">
				at <img src="media/GitHub-logo-i.png" alt="GitHub"> GitHub.
			</a>
		</p>

		<p>
			About data analysis -  a good example is
			<a href="https://appraisal.secretimmo.lu/" target="_blank">“Secretimmo appraisal tool”</a>.<br/>
			Big data from different sources, a lots of parameters to analyse.
			Totally built by me from scratch.
		</p>

		<p>
			Backend example - 	API for “Secrtimmo App” - download for
			<a href="https://apps.apple.com/app/secretimmo/id1638904947" target="_blank"> IOS </a> or
			<a href="https://apps.apple.com/app/secretimmo/id1638904947" target="_blank"> Android </a>.
			<br/>
		    Implemented on Node.js with a help of postman.com
			<a href="https://documenter.getpostman.com/view/21572449/UzQvsjmR" target="_blank">(API doc)</a>.<br/>
		</p>




	</div>
</section>


<script type="text/scss">

	section[data-key=skills]{

	background: #254272;
	line-height: 21px;
	font-size: 14px;

		p{
			padding: 7px 0;
		}

		a{
				position: relative;
				display: inline-grid;
				align-items: center;
				grid-auto-flow: column;
				grid-auto-columns: max-content;
				grid-column-gap: 4px;
				color: #ffffa6;
				text-decoration: none;
					img{
					width: auto;
					height: 19px;
					}
		}

	}

</script>