<section data-key="trance">

	<div>


		My big hobyy is a DJ.
		Almost till all my life.
		Withs specific electronic music styles, "psychedelic trance" / "psybreaks" / "goa trance" / "progressive psy-trance" and others,
		I've played around Europhe, from private partys till big festivals as a "Shura ASH".

		<img src="media/shuraash.png">

<!--		<a href="" target="_blank">Just for fun :)</a>-->


		<p>Some of my sets, just for fun :)</p>

		<video controls poster="media/imp_sbp_poster.jpg">
			<source src="/video/imperia_striked_by_psy.mp4" type="video/mp4">
		</video>

		<video controls poster="media/love_is_poster.jpg" type="video/mp4">
			<source src="/video/love_is.mp4">
		</video>

<!--		<iframe width="100%" height="auto" src="https://www.youtube.com/embed/ypl53ngVanY" title="Imperia striked by Psy!"-->
<!--		        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>-->
<!--		</iframe>-->



	</div>

</section>

<script type="text/scss">

	section[data-key=trance]{

		background: linear-gradient(to right, #fc466b, #3f5efb);

		color: #fff;
		text-shadow: 0px 0px 4px #000;

		line-height: 24px;
		font-size: 16px;

		padding-top: 50px;
		padding-bottom: 500px; // because of snapping


		p{
		    margin: 16px 0;
	    }

		img{
			width: 169px;
			display: block;
			margin: 8px auto;
			filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.75));
		}

		video{
			width: 100%;
			height: auto;border: 2px solid red;
			margin-bottom: 32px;

			&:last-of-type{
				margin-bottom: 200px;
			}
		}
	}

</script>