<section data-key="timeline">

<ol>
	<li>
		<div class="da-country">
			<div class="dates">02.2010 - 12.2022</div>
			<div class="country">Luxembourg</div>
		</div>

		<div class="firma">
			<a href="https://www.immotop.lu" target="_blank">IMMOTOP.LU</a>
			<span>Real Estate Media Sàrl</span>
		</div>

		<div class="role">Senior Developer</div>
		<div class="desc"></div>
	</li>

	<li>
		<div class="da-country">
			<div class="dates">02.2007 - 05.2007</div>
			<div class="country">Estonia</div>
		</div>

		<div class="firma">
			<a href="https://www.fotki.com" target="_blank">FOTKI.COM</a>
		</div>
		<div class="role">Developer</div>
		<div class="desc">A short-term contract ; development of the upload application «Fotki Desktop» (Windows) for the company site</div>
	</li>


	<li>
		<div class="da-country">
			<div class="dates">06.2005 - 11.2005</div>
			<div class="country">Estonia</div>
		</div>

		<div class="firma">
			<a href="https://www.spotex.com" target="_blank">SPOTEX.COM</a>
			<span>Invest-info OU</span>
		</div>
		<div class="role">Developer</div>
		<div class="desc">
			Development of the Advanced Currency Information Database (ACID).
			A multi server application meant for currency exchange offices, with client-server
			software architecture and two-phase commit transaction synchronization between central and local servers
		</div>
	</li>

	<li>
		<div class="da-country">
			<div class="dates">2004 - 2005</div>
			<div class="country">Estonia</div>
		</div>

		<div class="firma">
			<a href="https://www.gissoft.eu" target="_blank">GISSOFT.EU</a>
			<span>it was "www.targets.ee" that time</span>
		</div>
		<div class="role">Developer</div>
		<div class="desc">
			Development of the integral solution for transport companies.
			TRIP is the software for storage, processing and analysis of information of a transport company,
			a system of control over the operational process
		</div>
	</li>

	<li>
		<div class="da-country">
			<div class="dates">03.1999 - 02.2005</div>
			<div class="country">Estonia</div>
		</div>

		<div class="firma">
			<a href="https://www.elion.ee" target="_blank">AS Eesti Telefon</a>
		</div>
		<div class="role">Developer/Admin</div>
		<div class="desc">
			Digital Switching System department;
			development of a client/server application for the company's intranet;
			administration of LAN/WAN/PCs.
		</div>
	</li>

	<li>
		<div class="da-country">
			<div class="dates">11.1997 - 03.1999</div>
			<div class="country">Estonia</div>
		</div>

		<div class="firma">
			<div>Pronksi AS</div>
		</div>
		<div class="role">DBA/analyst/developer</div>
		<div class="desc">
			Working as database administrator/analyst, providing support for all electronic equipment in the biggest toy shop in the country.
			Development of a number of work-related applications (Invoice creation/printing/processing with appropriate stock updates,
			generation of periodic reports, utilities for direct database manipulation, etc.)
		</div>
	</li>

	<li>
		<div class="da-country">
			<div class="dates">05.1996 - 08.1996</div>
			<div class="country">Estonia</div>
		</div>

		<div class="firma">
			<div>AS STV</div>
		</div>
		<div class="role">Video editing & etc</div>
		<div class="desc">
			Some video engineering, grapihcs, titres for biggest cable television provider in Tallinn.
		</div>
	</li>

	<li>
		<div class="da-country">
			<div class="dates">11.1991 - 03.1996</div>
			<div class="country">Estonia</div>
		</div>

		<div class="firma">
			<div>AS NB</div>
		</div>
		<div class="role">"All-in-one" - developer/admin/dba/etc</div>
			<div class="desc">
				 Managing the team of 4 employees which ensured the development of all applications, hardware & software, network and communication equipment in the company.
				 Assistance in the generation of internal rules and methods for document processing (accounting, store management, etc.)
				 Coordination of and participation in the creation of a number of software products.
			</div>
	</li>

	<li>
		<div class="da-country">
			<div class="dates">11.1989 - 04.1991</div>
			<div class="country">Estonia (SSSR)</div>
		</div>

		<div class="firma">
			<div>Scientific research institute "NEPTUN" (military design bureau)</div>
		</div>
		<div class="role">"All-in-one" - developer/admin/dba/etc</div>
			<div class="desc">
				Working as a member of the team of inventors who were developing a universal controller for controlling a group of radio transmitters, radio receivers, antenna commutators, etc.
			</div>
	</li>


	<li class="a-works">

		<div class="a-works">
			Aside projects
		</div>

		<ol>
			<li class="desc">
				<span>2010/2011, Real Estate Media</span>
				<div>Development of the <a href="https://www.automarket.lu" target="_blank">AUTOMARKET.LU</a></div>
			</li>

			<li class="desc">
				<span>2001, AS Nemirox</span>
				Development of the stock management and sales tracking application
			</li>

			<li class="desc">
				<span>1998, AS Lerine</span>
				Development of the stock management and sales tracking application
			</li>

			<li class="desc">
				<span>1998, Local commerce</span>
				Resident utility for controlling terminals in a computer club "PETS".
			</li>

			<li class="desc">
				<span>1996, AS Odek</span>
				Development of the stock management and sales tracking application
			</li>

			<li class="desc">
				<span>1992, "Punane Ret"</span>
				Development of the voltage meters testing application.
			</li>
		</ol>

	</li>


				<!--	SHORT-TERM CONTRACTS-->

<!--	API for APP https://documenter.getpostman.com/view/21572449/UzQvsjmR-->

<!--	https://secretimmo.lu/en/appraisal-->



</ol>


	<div class="sect-end"></div>
</section>


<script type="text/scss">

	section[data-key=timeline]{
		background: linear-gradient(-90deg, #4b6cb7 0%, #182848 100%);
		//font-size: 14px;
	//	padding-bottom: 500px;
		padding-top: 50px;

		ol{
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li{
			display: grid;
			grid-row-gap: 4px;
			margin-bottom: 16px;

			.da-country{
				display: grid;
				grid-template-columns: auto auto;
				color: #7ec66b;
				font-weight: 300;
				font-size: 13px;
				text-transform: uppercase;
				.country{
					justify-self: end;
				}
			}

			.firma{
				color: #ccc;
				span{
					margin-left: 8px;
				}


				div{
					color: #a6ffff;
				}
			}

			.desc{
				font-size: 13px;
				color: #ccc;
			}

			&.desc span{
				display: inline-block;
				margin-right: 5px;
				color: #7ec66b;
			}

			&.a-works{

				border-top: 1px solid #767676;
				margin-top: 24px;
				padding-top: 16px;

				.a-works{
					text-transform: uppercase;
					margin-bottom: 8px;
				}

			}


			a{
				position: relative;
				display: inline-grid;
				align-items: center;
				grid-auto-flow: column;
				grid-auto-columns: max-content;
				grid-column-gap: 4px;
				color: #ffffa6;
				text-decoration: none;
			}

		}

	}

</script>