<section data-key="trance">

	<div>


		My big hobyy is a DJ.
		Almost till all my life.
		Withs specific electronic music styles, "psychedelic trance" / "psybreaks" / "goa trance" / "progressive psy-trance" and others,
		I've played around Europhe, from private partys till big festivals as a "Shura ASH".

		<spino>
			<img id="avatar" src="media/shuraash_original.png">
		</spino>

<!--		<a href="" target="_blank">Just for fun :)</a>-->


		<p>Some of my sets, just for fun :)</p>

		<video controls poster="media/imp_sbp_poster.jpg">
<!--			<source src="/video/imperia_striked_by_psy.mp4" type="video/mp4">-->
		</video>

		<video controls poster="media/love_is_poster.jpg" type="video/mp4">
<!--			<source src="/video/love_is.mp4">-->
		</video>

<!--		<iframe width="100%" height="auto" src="https://www.youtube.com/embed/ypl53ngVanY" title="Imperia striked by Psy!"-->
<!--		        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>-->
<!--		</iframe>-->
	</div>

	<div class="sect-end"></div>
</section>

<script type="text/scss">

	section[data-key=trance]{

		background: linear-gradient(to right, #fc466b, #3f5efb);

		//background: linear-gradient(to right, #fc456a54 0%, #fc456a9a 5%, #fc466b 10%, #3f5efb 90%, #3f5efb9a 90%, #3f5efb54 100%);

		color: #fff;
		text-shadow: 0px 0px 4px #000;

		line-height: 24px;
		font-size: 16px;

		padding-top: 50px;
	//	padding-bottom: 500px; // because of snapping


		p{
		    margin: 16px 0;
	    }

		img{
			width: 169px;
			display: block;
			margin: 8px auto;
			//filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.75));
			transform: translateZ(10px);
		//2	transition: transform 1s linear;
		//
		//	&.flipY180{
		//		transition: transform 2s linear;
		//		transform: rotateY(179deg);
		//	}
		//
		//	&.flipY{
		//		transition: transform 2s linear;
		//		transform: translateZ(10px) rotateY(359deg);
		//	}

		}

		video{
			width: 100%;
			height: auto;
			border: 2px solid #666970;
			border-radius: 8px;
			margin-bottom: 32px;

			&:last-of-type{
				margin-bottom: 200px;
			}
		}
	}


	spino{

		spino-back{
			background-image: url(media/bk1.jpeg);
			background-size: cover;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}

		display: block;
		width: 100%;
		height: auto;
		transform-style: preserve-3d;
		perspective: 600px;
		position: relative;

		img{
			z-index: 3;
		}
	}

	//@keyframes rotationY {
	//	from {
	//		transform: rotateY(0deg);
	//	}
	//	to {
	//		transform: rotateY(359deg);
	//	}
	//}
	//
	//@keyframes rotationX {
	//	from {
	//		transform: rotateX(0deg);
	//	}
	//	to {
	//		transform: rotateX(359deg);
	//	}
	//}

</script>

<script type="module">

	import {awaitTimer, onStart} from './../../util.js';


	// async function permission ()
	// {
	// 	if ( typeof( DeviceMotionEvent ) !== "undefined" && typeof( DeviceMotionEvent.requestPermission ) === "function" )
	// 	{
	// 		try
	// 		{
	//
	// 			let response = await DeviceMotionEvent.requestPermission();
	// 			if (response == "granted")
	// 			{
	// 				window.addEventListener("devicemotion", (e) => {})
	// 			}
	// 		}
	// 		catch( err )
	// 		{
	// 			console.error(err);
	// 		}
	//
	// 	} else {
	// 		alert( "DeviceMotionEvent is not defined" );
	// 	}
	// };
	//
	// addEventListener('pointerdown', () => permission ());

	let

		w = document.querySelector('#wrapper'),
		s = document.querySelector('#avatar'),

	spinoX = async () =>{
		s.style.transition = 'transform 2s linear'
		s.style.transform = 'translateZ(0px) rotateX(359deg)'
		await awaitTimer(2000);
		s.style.transition = ''
		s.style.transform = 'translateZ(0px) rotateX(0deg)'
	},

	spinoY = async () =>{
		s.style.transition = 'transform 2s linear'
		s.style.transform = 'translateZ(0px) rotateY(359deg)'
		await awaitTimer(2000);
		s.style.transition = ''
		s.style.transform = 'translateZ(0px) rotateY(0deg)'
	},

	spino = async () => {

		while (true)
		{
			if(w.scrollTop >= s.offsetTop)
			{
				await awaitTimer(4000);
				//setTimeout( () => spinoY(), 4000);
				spinoY();
				await awaitTimer(4000);
				spinoX();
				await awaitTimer(2000);
				//setTimeout( () => spinoX(), 4000);
			}
		}
	}

	spino();

</script>