<div id="wrapper">

	<h-include src="section.whoiam.html"></h-include>

	<h-include src="section.skills.html"></h-include>

	<h-include src="section.timeline.html"></h-include>

	<section data-key="trance"><h2>trance</h2></section>

</div>

<script type="text/scss">

	#wrapper{
		@include min-vph;
		position: relative;
		display: grid;
		grid-template-columns: minmax(100%, $wrap-max-width);
		//grid-auto-rows: max-content; //minmax(calc(100% - 40px), max-content);
		place-items: start center;

		//	max-width: $wrap-max-width;
		max-height: $vphf;
		//max-
		//	height: calc(var(--vh, 1vh) * 100 + 400px);
		margin: 0 auto;
		//	overflow-y: hidden;

		scroll-snap-type: y mandatory;
		//scroll-padding-top: 82px;

		margin: 90px 0 0px;


		section{
			//@include min-vph;
			min-height: calc(var(--vhf, 100vh) - 90px);

//			pointer-events: all;

			width: 100%;
			max-width: $wrap-max-width;
			overflow-x: hidden;

			margin: 0 auto;
			display: grid;
			grid-template-columns: 100%;
		//	grid-template-rows: max-content;

			background: linear-gradient(to top, #799b4f 0%, #98aacf 90%);

			//		outline: 1px solid red;
			//margin-top: 8px;
		//	padding: 106px 10px 16px ;
			padding: 16px;
			//padding-top: 106px ;


			//scroll-snap-type: y mandatory;
			scroll-snap-stop: always;
			scroll-snap-align: start;
		}



		@media all and (min-width: 620px){
			// sections is shifted 15px relate to 50% .... why
			padding-left: 15px;
			margin: 126px 0 20px;
			padding-bottom: 150px;

			section{
				border-radius: 16px;
				min-height: calc(var(--vhf, 100vh) - 140px);

				box-shadow: 0px 3px 13px 3px #000000aa;

				&:not(:first-of-type){
					margin-top: 32px;
				}
			}


		}

/*-h-include-*/

	}



</script>