@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;600&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: auto; }

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

body {
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background: #000;
  margin: 0;
  padding: 0;
  font-family: 'Changa';
  color: #fff;
  overflow-x: hidden;
  opacity: 0.001;
  position: relative;
  	/*
  	 //
  	 //
  	 //img.bk{
  	 //  position: fixed;
  	 //  top: -100px;
  	 //  left: 50%;
  	 //  height: calc(100vh + 200px);
  	 //  transform: translate(-45%, 0) skew(-10deg, -5deg);
  	 //  z-index: -1;
  	 //}
  
  	 //funny-bg{
  	 //  display: block;
  	 //  position: fixed;
  	 //  width: 100vw;
  	 //  height: 100vh;
  	 //  top: 0;
  	 //  left: 0;
  	 //  pointer-events: none;
  	 //  z-index: -1;
  	 //
  	 //  img.alpes{
  	 //      position: absolute;
  	 //      height: calc(100% + 200px);
  	 //      width: auto;
  	 //      top: 50%;
  	 //      left: 0;
  	 //      transform: translateY(-50%) rotateX(30deg); // scale(1.25);
  	 //
  	 //      @media all and (orientation: portrait) {
  	 //
  	 //      }
  	 //
  	 //  }
  	 //
  	 //  img.me-outbox{
  	 //    position: absolute;
  	 //    height: 50%;
  	 //    width: auto;
  	 //    bottom: 15%;
  	 //    left: 50%;
  	 //    transform: translateX(-50%);
  	 //  }
  	 //
  	 //  display: none;
  	 //
  	 //}
     */ }
  body.loaded {
    opacity: 1;
    transition: opacity 0.345s ease-in; }
  body.no-scroll {
    overflow: hidden;
    height: calc(var(--vh, 1vh) * 100);
    top: 0;
    left: 0; }
  body ol.menu {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column-gap: 32px;
    grid-row-gap: 0px;
    grid-template-columns: auto;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to right, #159957, #155799, #159957);
    text-shadow: 4px 4px 10px #000000cc;
    box-shadow: 3px 3px 6px 2px #00000036;
    grid-template-rows: repeat(4, 33px);
    padding: 8px 0; }
    body ol.menu li {
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
      height: 100%;
      color: #fff;
      cursor: pointer;
      transition: all 0.444s ease-out;
      height: 100%; }
      body ol.menu li span {
        display: inline-block;
        /* border: 1px dotted #fff4f430; */ }
      body ol.menu li:hover {
        transform: scale(1.05);
        transition: all 0.333s ease-in; }
  body footer {
    background: #97aead70;
    color: #fff;
    box-shadow: 0 0 11px 0px #00000087;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: auto;
    text-align: center;
    color: #fff;
    display: none; }
  body .wrapper {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-template-columns: 100%;
    z-index: 0;
    max-width: 720px;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    scroll-snap-align: start; }
    body .wrapper.no-scroll {
      overflow-y: hidden; }
    body .wrapper section {
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      min-height: 100vh;
      display: grid;
      overflow: hidden;
      background: linear-gradient(to top, #799b4f 0%, #98aacf 90%);
      scroll-snap-type: y mandatory;
      scroll-snap-stop: always;
      scroll-snap-align: start; }
      body .wrapper section.start {
        height: 100vh;
        position: relative;
        align-items: start;
        align-content: stretch;
        justify-items: center;
        grid-template-columns: 100%;
        grid-template-rows: max-content auto;
        background: linear-gradient(to bottom, #548320 0%, #99AAD0 75%);
        padding-bottom: 10%;
        grid-row-gap: 16px; }
        body .wrapper section.start div.bk {
          height: 100%;
          width: 80%;
          background: url(/media/me1.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          overflow: hidden;
          border: 2px ridge #8b45136b;
          border-radius: 5%;
          /* mix-blend-mode: screen; */
          /* opacity: 0.5; */
          box-shadow: 3px 3px 6px 2px #00000036; }
      body .wrapper section.common {
        padding: 8px; }

/*# sourceMappingURL=ash.css.map */
