@import './modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500;600&display=swap');


*,
::before,
::after{
	margin: 0;
	padding: 0;
	position: relative;
	font-size: inherit;
	font-weight: inherit;
}


ul, ol{
	list-style: none;
}


span{
	display: inline-block;
}


.no-scroll{
	overflow: hidden;
	//pointer-events: none;
}

.scroll-delay{
	#sssig{
		outline: 3px solid red;
		outline-offset: -3px;
	}
}


.no-scroll-bar{
	&::-webkit-scrollbar{
		display: none;
	}

	scrollbar-width: none;
}



@import './_vars.scss';

@import './_fignja.scss';


.mobile-body{
  // height: calc(var(--vh, 1vh) * 100 + 1px);
}

//
html, body{
	@include min-vph;
	overflow: hidden;
	max-height: $vphf;
	width: 100vw;
	font-family: 'Changa';
	font-size: 16px;
	line-height: 20px;
	//line-height: normal;
	color: #eee;
	//scroll-snap-type: y mandatory;
	//scroll-snap-stop: always;
	//scroll-snap-align: start;
//max-height: calc(var(--vh, 1vh) * 100 + 1px);
}


body{
	background: linear-gradient(#548320 0%, #99aad0 75%);
	opacity: 0.001;

	&.loaded{
		opacity: 1;
		transition: opacity 0.345s ease-in;
	}

	@media all and (min-width: 620px){
		//margin: 20px 0;
		background: url(https://i.natgeofe.com/k/082b37d7-d83c-4033-886e-b081fa4fa0f2/moon_square.jpg) 0% 0% / cover;
	}

}

html{
	//scroll-snap-type: y mandatory;
	//
	//&.no-scroll{
	//	max-height: calc(var(--vh, 1vh) * 100 + 1px);
	//}
}

footer{
	background: #97aead70;
	color: #fff;
	box-shadow: 0 0 11px 0px #00000087;
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: auto;
	text-align: center;
	color: #fff;
	display: none;
}


.hidden{
	display: none;
}


sd-span{
	display: block;
	pointer-events: none;
}

sd-span-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: #000;
	background-image: url(media/swipe-up.gif);
	background-repeat: no-repeat;
	background-position: center;
	mix-blend-mode: screen;
	pointer-events: none;
}

sd-span-bdrop{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #681fc670;
	pointer-events: none;
	z-index: 98;
}


@import '_index.scss';